@import url(../vendor/normalize.css);
@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/recipes.css);
@import url(../blocks/reservation.css);
@import url(../blocks/menu.css);
@import url(../blocks/about.css);
@import url(../blocks/footer.css);

.nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-weight: 500;
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: relative;
  left: -50px;
}

.nav__links {
  display: flex;
  align-items: center;
  column-gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav__link {
  color: #000;
  text-decoration: none;
}

.nav__link:hover {
  opacity: 50%;
}

.nav__link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width 0.3s;
}

.nav__link:hover::after {
  width: 100%;
}

/* stage1 */

/* stage 2 */

/* footer */
